<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Defcon One</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/css/ratchet.css" rel="stylesheet">
    <script src="/js/ratchet.js"></script>
  </head>
  <body>
    <header class="bar bar-nav">
      <a class="icon icon-left-nav pull-left button-prev" href="javascript:history.back()"></a>
      <a class="icon icon-home pull-right" href="index.html" data-transition="slide-out"></a>
      <h1 class="title">Defcon One</h1>
    </header>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
      <div class="content-padded">
        <h3>How do I use Defcon One?</h3>
        <p>It's easy! Sign up using the link under the users menu in the corner of this site. Once you have an account, go to "contacts" to add phone numbers and email addresses of people you want to alert. When you need help, click the "alert" link, and click one of the buttons, depending on your situation. The buttons will send the displayed message to the selected people in your Defcon One contacts list. If it's an emergency, use the crisis page instead to alert everyone at once with a more urgent message. If you are having suicidal thoughts, please call a suicide hotline (1-800-273-TALK). If you or someone you know is in immediate danger, call 9-1-1.</p>
        <h3>Who made Defcon One?</h3>
        <p>Defcon One was written by Ben Bailey, a high school student from Austin, Texas. Check out <a href="//benbailey.me/landing">his website</a>.
        <h3>Technical details</h3>
        <p>Defcon One is open-source and all the code is <a href="//github.com/benfb/defconone">available on Github</a>. Feel free to fork it and contribute if you see something that could be improved, or have an idea for a new feature.</p>
      </div>
    </div>
  </body>
</html>
