extends layout
block content
    body
        .content
            .content-padded
                include messages
                if (user.contacts.length != 0)
                        .card
                          ul.table-view
                            each contact in user.contacts
                                li.table-view-cell.table-view-divider #{contact.fname} #{contact.lname}
                                li.table-view-cell #{contact.phone}
                                li.table-view-cell #{contact.email}
                form(action="/contacts/add", method="post")
                    h5 Add new contact
                    input(type='text', name='fname', placeholder='Their first name')
                    input(type='text', name='lname', placeholder='Their last name')
                    input(type='email', name='email', placeholder='Their email address')
                    input(type='tel', name='phone', placeholder='Their phone number')
                    button.btn.btn-positive.btn-block(type='submit') Add contact