extends layout
block content
    body
        .content
          include messages
          h4 Settings
          form.content-padded(action="/settings/changepass", method="post")
            input(type='password', name='newpass', autocomplete='off', placeholder='New password')
            input(type='password', name='newpass2', autocomplete='off', placeholder='New password again')
            button.btn.btn-primary.btn-block(type='submit') Change password
          form.content-padded(action="/settings/delete", method="post")
            input(type='text', name='uname', autocomplete='off', placeholder='Username')
            input(type='password', name='verifydelete', placeholder='Password')
            button.btn.btn-negative.btn-block(type='submit') Delete account