extends layout
block content
    body
        .content
            include messages
            form.content-padded(action="/signup", method="post")
                h4 Sign up
                p
                    em
                        | Already have an account? 
                        a(href="/signin") Sign in.
                p Your real name
                input(type='text', name='realname', placeholder='Jane Doe', autofocus='autofocus')
                p Your personal email address
                input(type='text', name='pemail', placeholder='you@example.com')
                p Your username (you'll use this and your password to log in)
                input(type='text', name='username', placeholder='Username')
                p Your password
                input(type='password', name='password', placeholder='Password')
                button.btn.btn-positive.btn-block(type='submit') Sign up
