extends layout
block content
    body
        .content
            include messages
            form.content-padded(action="/login", method="post")
                h4 Sign in
                p
                    em
                        | Don't have an account? 
                        a(href="/signup") Sign up.
                input(type='text', name='username', placeholder='Username', autofocus='autofocus')
                input(type='password', name='password', placeholder='Password')
                button.btn.btn-primary.btn-block(type='submit') Sign in
